<div class="home-page-last-news">
  <div class="container">
    <div class="header">
      <div class="entry-title pt-5">
        <h2>Our Upcoming Events</h2>
      </div>
      <!-- entry-title -->
    </div>
    <!-- header -->

    <div class="home-page-last-news-wrap">
      <div class="row">
        <div class="col-12 col-md-6">
          <figure class="featured-image">
            <a href="javascript:void(0)">
              <img
                src="../../../assets/The Pubg Banners/squad-1.jpg"
                alt="Coming Event"
              />
            </a>
          </figure>
          <!-- featured-image -->

          <div class="content-wrapper">
            <div class="entry-content">
              <div class="entry-header">
                <h2><a href="javascript:void(0)">March Mission</a></h2>
              </div>
              <!-- entry-header -->

              <!-- <div class="entry-meta">
                <span class="author-name"><a href="javascript:void(0)"> By James Williams</a></span>
                <span class="space">|</span>
                <span class="comments-count"><a href="javascript:void(0)">3 comments</a></span>
              </div> -->
              <!-- entry-meta -->

              <!-- <div class="entry-description">
                <p>Quisque at erat eu libero consequat tempus.
                  Quisque mole stie convallis tempus.
                  Ut semper purus metus, a euismod sapien sodales ac.
                  Duis viverra eleifend fermentum.</p>
              </div> -->
              <!-- entry-description -->
            </div>
            <!-- entry-content -->
          </div>
          <!-- content-wrapper -->
        </div>
        <!-- .col-6 -->

        <div class="col-12 col-md-6">
          <figure class="featured-image">
            <a href="javascript:void(0)">
              <img
                src="../../../assets/The Pubg Banners/squad-2.jpg"
                alt="fesival+celebration"
              />
            </a>
          </figure>
          <!-- featured-image -->

          <div class="content-wrapper">
            <div class="entry-content">
              <div class="entry-header">
                <h2><a href="javascript:void(0)">April Ninjas</a></h2>
              </div>
              <!-- entry-header -->

              <!-- <div class="entry-meta">
                <span class="author-name"><a href="javascript:void(0)">By James Williams</a></span>
                <span class="space">|</span>
                <span class="comments-count"><a href="javascript:void(0)">3 comments</a></span>
              </div> -->
              <!-- entry-meta -->

              <!-- <div class="entry-description">
                <p>Quisque at erat eu libero consequat tempus.
                  Quisque mole stie convallis tempus.
                  Ut semper purus metus, a euismod sapien sodales ac.
                  Duis viverra eleifend fermentum.</p>
              </div> -->
              <!-- entry-description -->
            </div>
            <!-- entry-content -->
          </div>
          <!-- .content-wrapper -->
        </div>
        <!-- col-6 -->
      </div>
      <!-- row -->
    </div>
    <!-- home-page-last-news-wrap -->
  </div>
  <!-- container -->
</div>
<!-- home-page-last-news -->
