 <div class="hero-content" #home>
   <div class="container" data-toggle="modal" data-target="#gameModal">
     <div class="row">
       <div class="col-12">
         <div class="entry-header">
           <h2>The Mega Gameplay</h2>

           <div class="entry-meta-date" *ngIf="currentEvent">
             {{currentEvent.date | date:'dd.MM.yyyy'}}
           </div>
         </div>
         <div class="countdown flex flex-wrap justify-content-between">
           <div class="countdown-holder">
             <div class="dday">{{days}}</div>
             <label>Days</label>
           </div>

           <div class="countdown-holder">
             <div class="dhour">{{hours}}</div>
             <label>Hours</label>
           </div>

           <div class="countdown-holder">
             <div class="dmin">{{minutes}}</div>
             <label>Minutes</label>
           </div>

           <div class="countdown-holder">
             <div class="dsec">{{seconds}}</div>
             <label>Seconds</label>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

 <div #event class="content-section">
   <div class="container">
     <div class="row">
       <div class="col-12">
         <div class="lineup-artists-headline">
           <div class="entry-title">
             <h2>The Event Timeline</h2>
           </div>
         </div>
         <div>
           <megagameplay-event></megagameplay-event>
         </div>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section">
   <megagameplay-upcoming-events>
   </megagameplay-upcoming-events>
 </div>


 <div #aboutUs class="content-section">
   <megagameplay-about-us>
   </megagameplay-about-us>
 </div>

 <div #contact class="content-section">
   <megagameplay-contact>
   </megagameplay-contact>
 </div>

 <div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div>
     </div>
   </div>
 </div>
