<div class="container">
  <div class="row">

    <div class="col">
      <div class="main-timeline">
        <div class="timeline">
          <a href="javascript:void(0)" class="timeline-content">
            <span class="timeline-year">Step 1</span>
            <div class="timeline-icon">
              <i class="fa fa-rocket" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Agreeing Terms & Conditons and Payment.</h3>
              <p class="description">
                By agreeing Terms & Conditions kindly scan the <a href="javascript:void(0)" data-toggle="modal"
                  data-target="#exampleModal">QR code</a>. and make payment for the amount displayed in the image. Send
                the screenshot to the below mentioned Whatsapp Number.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="javascript:void(0)" class="timeline-content">
            <span class="timeline-year">Step 2</span>
            <div class="timeline-icon">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Whatsapp Updates</h3>
              <p class="description">
                Once the payment is receieved, the participant will automatically get all the updates and required
                information on their WhatsApp.
              </p>
            </div>
          </a>
        </div>
        <!-- <div class="timeline">
          <a href="javascript:void(0)" class="timeline-content">
            <span class="timeline-year">Step 3</span>
            <div class="timeline-icon">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">The Game</h3>
              <p class="description">
                Once you are added to the whatsapp group, you recieve updates and rules about the game.
                The event date and timing, and the location information will be shared on whatsapp
              </p>
            </div>
          </a>
        </div> -->
        <div class="timeline">
          <a href="javascript:void(0)" class="timeline-content">
            <span class="timeline-year">Step 3</span>
            <div class="timeline-icon">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">The Game</h3>
              <p class="description">
                Once the Room is created, participants will be receiving a Room ID on their WhatsApp.
                He/She needs to join the group using the ID shared on their whatsapp. And the game begins...
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="javascript:void(0)" class="timeline-content">
            <span class="timeline-year">Step 4</span>
            <div class="timeline-icon">
              <i class="fa fa-globe" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">End of the Game</h3>
              <p class="description">
                At the end, Winner would be declared and communicated through WhatsApp.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="javascript:void(0)" class="timeline-content">
            <span class="timeline-year">Step 5</span>
            <div class="timeline-icon">
              <i class="fa fa-trophy" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Rewards</h3>
              <p class="description">
                Winning amount would be directly credited to Participants bank account by the end of the day through
                UPI.
                The winner needs to send the UPI code in order to get the winning amount credited to his/her account
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="javascript:void(0)" class="timeline-content">
            <span class="timeline-year">2020</span>
            <div class="timeline-icon">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">VIP Pass</h3>
              <p class="description">
                The winning squad get a free pass to join the Mega Event.
                Happy Gaming....
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" [ngClass]="modalHeader === 'Payments' ? 'marginTop' : ''">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" class="text-black">{{modalHeader}}</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body" style="height: 75vh;overflow-y: scroll;">
        <div class="text-center" *ngIf="acceptTerms">
          <p class="text-black text-center" style="font-size: 30px;font-weight: 700;">Entry Fee : 50 &#8377;</p>
          <img src="../../../assets/The Pubg Banners/qr.jpg" alt="" class="img-fluid"
            style="object-fit: cover;width: 350px;height: 410px;">
        </div>

        <div *ngIf="acceptTerms === false">
          <p *ngFor="let item of terms | keyvalue;let i = index">{{i + 1}}.{{item.value}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <label *ngIf="acceptTerms === false" class="text-dark"><input type="checkbox" value=""
              (click)='showQrCode()'>I accept the terms and condition</label>
        </div>
        <div style="width: 45%; text-align: end;">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
