<div class="main-content">
  <div class="container" style="padding-top: 70px;">
    <div class="entry-header">
      <div class="entry-title">

        <h2 class="text-uppercase">about us</h2>
        <p> The Mega Game Play is an competitive video gaming platform that facilitates online and live tournaments,
          leagues and ladders, and acts as a social gaming community for competitive gamers around the world. Launched
          in 2020, it is the premier destination for competitive and passionate gamers.</p>
      </div><!-- -->
    </div><!-- -->
    <div class="entry-content">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="entry-header">
            <h3 class="text-uppercase">Our Vision</h3>
          </div><!-- -->

          <div class="entry-description">
            <p> Our vision is to be the leading gaming, entertainment and hospitality company in our chosen markets by
              providing superior entertainment value and exceptional experience.
            </p>
          </div><!-- entry-description -->
        </div><!-- col-6 -->

        <div class="col-12 col-lg-6 mt-5 mt-lg-0">
          <div class="entry-header">
            <h3 class="text-uppercase">10 year mission</h3>
          </div><!-- -->

          <div class="entry-description">
            <p> Our Mission is to provide outstanding experience to our guests, rewarding opportunities for our team and
              superior
              value to our stakeholders.</p>
          </div><!-- entry-description -->
        </div><!-- col-6 -->
      </div><!-- row -->
    </div><!-- entry-content -->

    <!-- <figure class="featured-image">
      <img src="../../../assets/images/about-us-content-image.jpg" alt="party people">
    </figure> -->
  </div><!-- container -->
</div><!-- main-content -->


<section id="speakers">
  <h3 class="default-font">Our Team</h3> <!-- Section Title -->
  <div class="separator"></div>
  <div class="container m-auto">
    <div class="col-md-8 offset-md-2 m-auto">
      <!-- Section Description -->
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.</p> -->
    </div>

    <!-- First Row of Speakers -->
    <div class="row">

      <!-- Speaker 1 -->
      <div class="col-md-6">
        <a href="javascript:;" class="member-profile">
          <div class="unhover_img">
            <img src="../../../assets/images/speaker-1.png" alt="" height='250px' />
          </div>

          <span class="profile">{{data[1].title}}</span>
          <h4>
            <span class="text-uppercase">{{data[1].name}}</span>
          </h4>
        </a>
        <ul>
          <li><a href="https://www.instagram.com/antifragile_ankitk/" target="_blank"><i
                class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/in/ankit-kalpande-a8a84a1a0/" target="_blank"><i
                class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.facebook.com/ankit.kalpande" target="_blank"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>

      <!-- Speaker 2 -->
      <div class="col-md-6">
        <a href="javascript:;" class="member-profile">
          <div class="unhover_img">
            <img src="../../../assets/images/speaker-2.png" alt="" height='250px' />
          </div>

          <span class="default-font profile">{{data[0].title}}</span>
          <h4><span class="default-font ">{{data[0].name}}</span> </h4>
        </a>
        <ul>
          <li><a href="https://www.instagram.com/jadhavsulaxan/" target="_blank"><i class="fa fa-instagram"></i></a>
          </li>
          <li><a href="https://www.linkedin.com/in/sulaxan-jadhav-5b062257/" target="_blank"><i
                class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.facebook.com/sulaxan.jadhav.3" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>

        </ul>
      </div>

      <!-- Speaker 3 -->
      <!-- <div class="col-md-4">
        <a href="javascript:;" class="member-profile">
          <div class="unhover_img">
            <img src="../../../assets/images/speaker-3.png" alt="" />
          </div>
          <span class="profile">IDEATIONS / EXECUION HEAD</span>
          <h4><span>Karan Dumbre</span> </h4>
        </a>
        <ul>
          <li><a href="javascript:;" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="javascript:;" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
          <li><a href="javascript:;" target="_blank"><i class="fa fa-pinterest"></i></a></li>
        </ul>
      </div> -->

    </div> <!-- End First Row -->




  </div>
</section>
