/* You can add global styles to this file, and also import other style files */
/*------------------------------------------------------------
# Global classes
------------------------------------------------------------*/
.flex {
  display: flex;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: hsl(0, 0%, 90%);
}

@font-face {
  font-family: "mountains";
  src: url(./assets/fonts/beyond_the_mountains.otf);
  font-weight: 400;
}


@font-face {
  font-family: "century_gothic";
  src: url(./assets/fonts/century_gothic.ttf);
  font-weight: 400;
}



.default-font {
  font-family: century_gothic;
}

p,
h2 {
  color: black !important;
}
